@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/* line 1, ../sass/_borderbox.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../sass/_sliderv2.scss */
#slide1:checked ~ .frame .slides {
  -webkit-transform: translate3d(-0%, 0, 0);
  transform: translate3d(-0%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide2:checked ~ .frame .slides {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide3:checked ~ .frame .slides {
  -webkit-transform: translate3d(-66%, 0, 0);
  transform: translate3d(-66%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide4:checked ~ .frame .slides {
  -webkit-transform: translate3d(-99%, 0, 0);
  transform: translate3d(-99%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide5:checked ~ .frame .slides {
  -webkit-transform: translate3d(-132%, 0, 0);
  transform: translate3d(-132%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide6:checked ~ .frame .slides {
  -webkit-transform: translate3d(-165%, 0, 0);
  transform: translate3d(-165%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide7:checked ~ .frame .slides {
  -webkit-transform: translate3d(-198%, 0, 0);
  transform: translate3d(-198%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide8:checked ~ .frame .slides {
  -webkit-transform: translate3d(-231%, 0, 0);
  transform: translate3d(-231%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide9:checked ~ .frame .slides {
  -webkit-transform: translate3d(-264%, 0, 0);
  transform: translate3d(-264%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 4, ../sass/_sliderv2.scss */
#slide10:checked ~ .frame .slides {
  -webkit-transform: translate3d(-297%, 0, 0);
  transform: translate3d(-297%, 0, 0);
  -webkit-transition: all ease .7s;
  transition: all ease .7s;
}

/* line 16, ../sass/_sliderv2.scss */
#slide1:checked ~ .controls label[for="slide2"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide2:checked ~ .controls label[for="slide3"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide3:checked ~ .controls label[for="slide4"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide4:checked ~ .controls label[for="slide5"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide5:checked ~ .controls label[for="slide6"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide6:checked ~ .controls label[for="slide7"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide7:checked ~ .controls label[for="slide8"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide8:checked ~ .controls label[for="slide9"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide9:checked ~ .controls label[for="slide10"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 16, ../sass/_sliderv2.scss */
#slide10:checked ~ .controls label[for="slide11"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 27, ../sass/_sliderv2.scss */
#slide3:checked ~ .controls label[for="slide1"] {
  display: block;
  float: right;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHElEQVQYlWNggIKvX7/+h2EGQmCoKSZK4SBTBAAEaHQF+ACn0wAAAABJRU5ErkJggg==), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  height: 50px;
  width: 50px;
}

/* line 38, ../sass/_sliderv2.scss */
#slide1:checked ~ .controls label[for="slide3"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide2:checked ~ .controls label[for="slide1"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide3:checked ~ .controls label[for="slide2"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide4:checked ~ .controls label[for="slide3"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide5:checked ~ .controls label[for="slide4"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide6:checked ~ .controls label[for="slide5"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide7:checked ~ .controls label[for="slide6"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide8:checked ~ .controls label[for="slide7"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide9:checked ~ .controls label[for="slide8"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 49, ../sass/_sliderv2.scss */
#slide10:checked ~ .controls label[for="slide9"] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAG0lEQVQYlWNgQANfv379D8PocoNaEUkKh4BiAKS1dAUutz8GAAAAAElFTkSuQmCC), #232323;
  background-repeat: no-repeat, repeat;
  background-position: center center;
  float: left;
  display: block;
  height: 50px;
  width: 50px;
}

/* line 63, ../sass/_sliderv2.scss */
#slide1:checked ~ .active label[for="slide1"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide2:checked ~ .active label[for="slide2"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide3:checked ~ .active label[for="slide3"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide4:checked ~ .active label[for="slide4"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide5:checked ~ .active label[for="slide5"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide6:checked ~ .active label[for="slide6"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide7:checked ~ .active label[for="slide7"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide8:checked ~ .active label[for="slide8"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide9:checked ~ .active label[for="slide9"] {
  background: #333;
}

/* line 63, ../sass/_sliderv2.scss */
#slide10:checked ~ .active label[for="slide10"] {
  background: #333;
}

/* line 68, ../sass/_sliderv2.scss */
.active {
  margin: 1em auto;
}
/* line 70, ../sass/_sliderv2.scss */
.active label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  float: left;
  width: 10px;
  height: 10px;
  background: #bbb;
  margin: 2px;
}
/* line 79, ../sass/_sliderv2.scss */
.active label:hover {
  background: #ccc;
  border-color: #777;
}

/* line 88, ../sass/_sliderv2.scss */
.controls label {
  opacity: 0.4;
}
/* line 90, ../sass/_sliderv2.scss */
.controls label:hover {
  opacity: .8;
}

/* line 96, ../sass/_sliderv2.scss */
input[name="controls"] {
  display: none;
}

/* line 100, ../sass/_sliderv2.scss */
.frame {
  width: 100%;
  overflow: hidden;
}

/* line 105, ../sass/_sliderv2.scss */
.slide {
  float: left;
}
/* line 107, ../sass/_sliderv2.scss */
.slide img {
  max-width: 100%;
}

/* line 4, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: 'Open Sans', sans-serif;
  line-height: 2;
}

/* line 13, ../sass/screen.scss */
h1 {
  font-size: 3em;
  margin: 30px 5px;
}

/* line 17, ../sass/screen.scss */
h2 {
  font-size: 4em;
  margin: 20px;
}

/* line 21, ../sass/screen.scss */
p {
  padding: 20px;
}

/* line 24, ../sass/screen.scss */
code {
  font-family: monospace;
  background: #e6e6e6;
  border: solid 1px #d9d9d9;
  border-radius: 2px;
  padding: 2px;
}

/* line 31, ../sass/screen.scss */
.active {
  width: 50px;
}

/* line 34, ../sass/screen.scss */
.border-bottom-thick {
  border-bottom: rgba(0, 0, 0, 0.1) solid 2px;
}

/* line 37, ../sass/screen.scss */
.border-bottom-thin {
  border-bottom: rgba(0, 0, 0, 0.1) solid 1px;
}

/* line 40, ../sass/screen.scss */
.clear {
  clear: both;
}

/* line 43, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 46, ../sass/screen.scss */
.controls {
  position: relative;
  top: -220px;
}

/* line 50, ../sass/screen.scss */
.frame {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2), 0px -4px 10px rgba(0, 0, 0, 0.2);
}

/* line 56, ../sass/screen.scss */
.picture-frame {
  max-width: 600px;
  margin: 0 auto;
}

/* line 60, ../sass/screen.scss */
.slide {
  width: 33.33333333333333333%;
  height: 400px;
  background: url(../dark_leather.png);
}
/* line 64, ../sass/screen.scss */
.slide p, .slide h1, .slide h2 {
  color: white;
  text-shadow: 0px 2px 1px rgba(255, 255, 255, 0.4), 0px -2px 1px rgba(0, 0, 0, 0.4);
}

/* line 72, ../sass/screen.scss */
.slides {
  width: 300%;
}

/* line 75, ../sass/screen.scss */
.wrap {
  margin: 0 auto;
  width: 85%;
}
